body {    
    background-color: rgb(36, 28, 202);    
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    
    padding-top: 15px;
}

p, a {
    color: #fff;    
    text-align: right;
}

p {    
    padding-right: 10px;
}

img {    
    padding-left: 15px;
    padding-top: 5px;
}

#usuario_topo{
    padding-right: 10px;
}