body {
    background-color: rgb(36, 28, 202);
    user-select: none;
}

div.menu ul {
    list-style: none;
}

div.menu ul li a, .grupo_menu {
    color: rgb(220, 220, 200);
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 5px;
    display: block;
}

div.menu ul li a{
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 5px;
}

div.menu ul li div span{
    font-size: 30px;
    position: absolute;
    right: 5px;
}

div.menu ul li div span.gira{
    transform: rotate(90deg);
    transition: 0.5s;
}

div.menu ul ul li a{
    font-size: 12px;
    background-color: rgb(26, 20, 141);
}

.grupo_menu {
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 5px;
}

div.menu ul li a:hover, .grupo_menu:hover {
    background-color: rgb(170, 170, 170);
    color: rgb(36, 28, 202);
    transition: 0.5s;
    cursor: pointer;
}

.grupo_menu label:hover {
    cursor: pointer;
}

div.menu ul ul {
    display: none;
}

.exibirSubMenu {
    display: block !important; 
}

.ativo {
    background-color: rgb(255, 255, 255)!important; 
    color: rgb(36, 28, 202) !important; 
}