body {
    background-color: rgb(36, 28, 202);
    overflow: hidden;
}

div.menu ul li {
    padding: 10px 10px;
    display: flex;
}

div.menu ul li a, label, span {
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div.menu ul li a:hover, label:hover, span:hover {
    color: rgb(255, 255, 0);
}