<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/all.css">
        <link rel="stylesheet" href="../../css/lampadas/lampada.css">
        <title>FL Software - Mini Utilidades - Lâmpada</title>
    </head>
    <body>
        <h1>Lâmpada</h1>
        <div class="main-content">
            <div class="main-lampada">
                <img src="../../img/desligada.jpg" alt="Lâmpada" id='lamp'>
            </div>
            <div class="main-lampada">
                <button class="button-lampada" id='turnOn'>Ligar</button>
                <button class="button-lampada" id='turnOff'>Desligar</button>
                <button class="button-lampada" id='turnOnOff'>Ligar/Desligar</button>
            </div>
        </div>
        <script src="../../js/lampadas/lampada.js"></script>
    </body>
</html>