* {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: black;
}

h1 {
    margin: 0;
}

button {
    border: 0;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ddd;
}

#titulo {    
    font-size: 2em;    
    font-family: 'ZenAntique-Regular';    
    font-weight: bold;
    color: white;
}

#principal {
    display: inline-block; 
    position: relative;
}

#divSobreposto {
    background-color: black; 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    opacity: 0; 
    pointer-events: none;
    z-index: 10;
}