<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get" action="calculadoraV6.php">
        <button name="tecla0" id="tecla0" >0</button>
        <button name="tecla1" id="tecla1" >1</button>
        <button name="tecla2" id="tecla2" >2</button>
        <button name="tecla3" id="tecla3" >3</button>
        <button name="tecla4" id="tecla4" >4</button>
        <button name="tecla5" id="tecla5" >5</button>
        <button name="tecla6" id="tecla6" >6</button>
        <button name="tecla7" id="tecla7" >7</button>
        <button name="tecla8" id="tecla8" >8</button>
        <button name="tecla9" id="tecla9" >9</button>
        <button name="soma" id="soma" >+</button>
        <button name="subtracao" id="subtracao" >-</button>
        <button name="multiplicacao" id="multiplicacao" >*</button>
        <button name="divisao" id="divisao" >/</button>
        <button type="submit" name="igual" id="igual" >=</button>


    </form>
</body>
</html>