<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forca</title>
        <link rel="stylesheet" href="../../css/all.css">
        <link rel="stylesheet" href="../../css/jogos/forca.css">
    </head>
    <body>
        <h1>Forca</h1>
        <section class="flex-container-2">
            <img id="forca" src="../../img/forca.jpg" alt="Forca">
            <div id="palavra" class="flex-container-2-2"></div>
            <div id="novo"></div>
        </section>
        <section id="letras" class="flex-container-3" >
        </section>
        <script src="../../js/jogos/forca.js"></script>
    </body>
</html>