<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/all.css">
        <link rel="stylesheet" href="../../css/jogos/lutadores.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <title>FL Software - Mini Utilidades - Lutadores</title>
    </head>
    <body>
        <h1>Lutadores</h1>
        <!--Div Conteiner Vermelho-->
        <div id="resultado">
            <!--Div Conteiner Vermelho menor-->
            <div id="resultado_interno">
                <!--Vida Jogador A-->
                <div id="barra_jogadorA">
                    <div id="fundo_barra_jogadorA"></div>
                    <div id="vidaJogadorA"></div>
                </div>
                <!--Tempo-->
                <div id="tempo"></div>
                <!--Vida Jogador B-->
                <div id="barra_jogadorB">
                    <div id="fundo_barra_jogadorB"></div>
                    <div id="vidaJogadorB"></div>
                </div>
            </div>
            <div id="mensagem"></div>
            <canvas></canvas>
        </div>
        <div id="reiniciar" onclick="reiniciar();">Reiniciar</div>
        <h2>Jogador A</h2>
        <p>Tecla W = Pula</p>
        <p>Tecla A = Anda para Esquerda</p>
        <p>Tecla D = Anda para Direita</p>
        <p>Tecla V = Ataque</p>
        <h2>Jogador B</h2>
        <p>Seta para Cima = Pula</p>
        <p>Seta para Esquerda = Anda para Esquerda</p>
        <p>Seta para Direita = Anda para Direita</p>
        <p>0 = Ataque</p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/gsap.min.js" integrity="sha512-kVlGhj2qFy+KBCFuvjBJTGUMxbdqJKs4yK2jh0e0VPhWUPiPC87bzm4THmaaIee3Oj7j6sDpTTgm2EPPiESqBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="../../js/jogos/lutadoresUtils.js"></script>
        <script src="../../js/jogos/lutadoresClasses.js"></script>
        <script src="../../js/jogos/lutadores.js"></script>
    </body>
</html>