<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nave</title>
        <link rel="stylesheet" href="../../css/all.css">
        <link rel="stylesheet" href="../../css/jogos/nave.css">
    </head>
    <body>
        <h1>Nave</h1>
        <div id="painel">
            <h1>Planeta</h1>
            <div id="medidorPlaneta">
                <div id="barraPlaneta"></div>
            </div>
            <div id="contadorBombas"></div>
        </div>
        <div id="telaMensagem">
            <button id="botaoJogar" class="botaoJogar">Jogar</button>
        </div>
        <div id="naveJogador" class="naveJogador"></div>
        <script type="text/javascript" src="../../js/jogos/nave.js"></script> 
    </body>
</html>