<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/all.css">
        <link rel="stylesheet" href="../../css/jogos/pacman.css">
        <title>FL Software - Mini Utilidades - Pac-Man</title>
    </head>
    <body>
        <h1>Pac-Man</h1>
        <p>
            <span>Score: </span>
            <span id="pontuacao">0</span>
        </p>
        <canvas></canvas>
        <script src="../../js/jogos/pacman.js"></script>
    </body>
</html>