<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/all.css">
        <link rel="stylesheet" href="../../css/jogos/pokemonClone.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <title>FL Software - Mini Utilidades - Pokemon Clone</title>
    </head>
    <body>
        <h1 id="titulo">Pokemon Clone</h1>
        <div id="principal">
            <div id="divSobreposto"></div>
            <canvas></canvas>
            <div id="interfaceUsuario" style="display: none;">
                <!--Representa a barra de vida do Draggle (Inimigo)-->
                <div style="background-color: white; width: 250px; position: absolute; top: 50px; left: 50px; border: 4px black solid; padding: 12px;">
                    <h1 style="font-size: 16px;">Inseto</h1>
                    <div style="position: relative;">
                        <div style="height: 5px; background-color: #ccc; margin-top: 10px;"></div>
                        <div id="barraVidaInimigo" style="height: 5px; background-color: green; position: absolute; top: 0; left:0; right: 0;"></div>  
                    </div>
                </div>
                <!--Representa a barra de vida do Emby (Jogador)-->
                <div style="background-color: white; width: 250px; position: absolute; top: 330px; right: 50px; border: 4px black solid; padding: 12px;">
                    <h1 style="font-size: 16px;">Chama</h1>
                    <div style="position: relative;">
                        <div style="height: 5px; background-color: #ccc; margin-top: 10px;"></div>
                        <div id="barraVidaJogador" style="height: 5px; background-color: green; position: absolute; top: 0; left:0; right: 0;"></div>  
                    </div>
                </div>
                <div style="background-color: white; height: 140px; position: absolute; bottom: 0; left: 0; right: 0; border-top: 4px black solid; display: flex;">
                    <div id="caixaDeDialogo" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: white; padding: 12px; display: none; cursor: pointer;">adasdasdsa</div>
                    <div id="caixaDeAtaque" style="width: 66.66%; display: grid; grid-template-columns: repeat(2, 1fr);">
                        <!--<button value="Encontrao">Encontrão</button>-->
                        <!--<button value="BolaDeFogo">Bola de Fogo</button>-->
                    </div>
                    <div style="display: flex; align-items: center; justify-content: center; width: 33.33%; border-left: 4px black solid;">
                        <h1 id="tipoAtaque" style="font-size: 16px;">Tipo Ataque</h1>
                    </div>
                </div>
            </div>            
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.3/gsap.min.js" integrity="sha512-6zTDRWNxo8vI6JZYDCwhrJpg5icK3P4HNnW3czsO5Scb3lAoPDam+/wF3eog4hxcl0h44d0XlIcFkuoSaWHQ2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="../../js/jogos/pokemonAudio.js"></script>
        <script src="../../js/jogos/pokemonZonasDeBatalha.js"></script>
        <script src="../../js/jogos/pokemonColisoes.js"></script>
        <script src="../../js/jogos/pokemonClasses.js"></script>
        <script src="../../js/jogos/pokemonAtaques.js"></script>
        <script src="../../js/jogos/pokemonMonstros.js"></script>
        <script src="../../js/jogos/pokemonClone.js"></script>
        <script src="../../js/jogos/pokemonBatalha.js"></script>
    </body>
</html>