<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/all.css">
        <link rel="stylesheet" href="../../css/jogos/pokemonClone.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <title>FL Software - Mini Utilidades - Pokemon Clone</title>
    </head>
    <body>
        <h1 id="titulo">Pokemon Clone</h1>
        <div id="principal">
            <div id="divSobreposto"></div>
            <canvas></canvas>
            <div id="interfaceUsuario">
                <!--Representa a barra de vida do Draggle (Inimigo)-->
                <div id="interfaceImimigo">
                    <h1 id="nomeInimigo">Inseto</h1>
                    <div id="vidaInimigo">
                        <div id="fundoBarraVidaInimigo"></div>
                        <div id="barraVidaInimigo"></div>  
                    </div>
                </div>
                <!--Representa a barra de vida do Emby (Jogador)-->
                <div id="interfaceJogador">
                    <h1 id="nomeJogador">Chama</h1>
                    <div id="vidaJogador">
                        <div id="fundoBarraVidaJogador"></div>
                        <div id="barraVidaJogador"></div>  
                    </div>
                </div>
                <div id="caixas">
                    <div id="caixaDeDialogo">dialogo</div>
                    <div id="caixaDeAtaque">
                        <!--<button value="Encontrao">Encontrão</button>-->
                        <!--<button value="BolaDeFogo">Bola de Fogo</button>-->
                    </div>
                    <div id="divTipoAtaque">
                        <h1 id="tipoAtaque">Tipo Ataque</h1>
                    </div>
                </div>
            </div>            
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.3/gsap.min.js" integrity="sha512-6zTDRWNxo8vI6JZYDCwhrJpg5icK3P4HNnW3czsO5Scb3lAoPDam+/wF3eog4hxcl0h44d0XlIcFkuoSaWHQ2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="../../js/jogos/pokemonAudio.js"></script>
        <script src="../../js/jogos/pokemonZonasDeBatalha.js"></script>
        <script src="../../js/jogos/pokemonColisoes.js"></script>
        <script src="../../js/jogos/pokemonClasses.js"></script>
        <script src="../../js/jogos/pokemonAtaques.js"></script>
        <script src="../../js/jogos/pokemonMonstros.js"></script>
        <script src="../../js/jogos/pokemonClone.js"></script>
        <script src="../../js/jogos/pokemonBatalha.js"></script>
    </body>
</html>