<!DOCTYPE html>

<html>

  <head>
  
    <meta charset="UTF-8"/>
   
    <title>SD Combate</title>
   
    <link rel="stylesheet" href="estilo.css" type="text/css"/>
   
    <script type="text/javascript" src="jquery-3.1.0.js"></script>
    <script type="text/javascript" src="script.js"></script>
   
  </head>

  <body id="corpo">
  
    <h1>Regras do Jogo SD Combate</h1>
    
    <h2>História</h2>
    
    <h3>O Combate é a versão brasileira do Stratego, originário de “La Haye” nos Países Baixos em 1940.
Entretanto, o Stratego provém do jogo “L’Attaque”, inventado por Hermance Edan em Paris no ano 1908.</h3>

    <h2>Tabuleiro</h2>
    
    <h3>O tabuleiro é um quadriculado com dez casas na horizontal por dez casas na vertical. Existem dois lagos que
ocupam 4 casas cada um. O espaço para cada jogador organizar o seu exército de 40 peças é de 10x4 casas.</h3>

    <h2>Peças</h2>
    
    <h3>
      
      Peças imóveis:</br>
        
      <ul>
        <li>Uma bandeira. A <em>bandeira</em> deve ficar escondida o máximo possível.</li>
        <li>Seis bombas. As <em>bombas</em> são peças que derrotam qualquer outra, com exceção do cabo-armeiro.
Não pode mexer as mesmas.</li>
      </ul>
        
      Peças móveis. Cada uma tem um número, que representa seu poder. Quanto maior o
número, mais forte é.:</br>

      <ul>
        <li>Um <em>espião</em>, 1, que é a única peça que pode derrotar o marechal.</li>
        <li>Oito <em>soldados</em>, 2, que podem mover mais de uma casa por vez, a corrida. Um soldado não pode correr
e atacar na mesma vez.</li>
        <li>Cinco <em>cabos-armeiros</em>, 3, que podem desarmar as bombas.</li>
        <li>Quatro <em>sargentos</em>, 4.</li>
        <li>Quatro <em>tenentes</em>, 5.</li>
        <li>Quatro <em>capitães</em>, 6.</li>
        <li>Três <em>majores</em>, 7.</li>
        <li>Dois <em>coronéis</em>, 8.</li>
        <li>Um <em>general</em>, 9.</li>
        <li>Um <em>marechal</em>, 10, que pode ser morto pelo espião.</li>
      </ul>
        
    </h3>
    
    <h2>A corrida do soldado</h2>
    
    <h3>O soldado pode andar em linha reta quantas casas quiser atacando ou não.
Sendo a peça mais fraca ele desempenha um papel excelente como batedor, especialmente contra bombas e
contra o espião.</h3>

    <h2>O espião e o marechal</h2>
    
    <h3>O espião é a peça mais fraca do jogo, no nível 1, e o marechal a mais forte, no nível 10. Se um espião atacar
um marechal, este morre, mas se ao contrário, um espião for atacado por um marechal, é aquele que morre.
Ou seja, entre o espião e o marechal, o que atacar vence.</h3>

    <h2>Objetivo e regras</h2>
    
    <h3>Cada um comanda seu exército, que tem por objetivo capturar a bandeira do exército
inimigo. Uma outra forma de vencer é deixando o adversário sem movimentos legais (derrotando todas as
suas peças móveis, por exemplo). Na eventualidade de um jogador ficar com as próprias peças "trancadas",
se por exemplo, lhe restaram apenas peças cercadas por bombas dele mesmo, ele também perde a partida.Com exceção do soldado, das bombas e da bandeira, todas as peças se movem uma casa de cada vez, na horizontal ou na vertical. Nenhuma peça se move na diagonal. As bombas terrestres e a bandeira permanecem na mesma posição durante o jogo inteiro.</h3>

    <p>Fonte: <a href="https://pt.wikipedia.org/w/index.php?title=Combate_(jogo)&oldid=46318202">Wikipedia</a>.</p>
      
  </body>
</html>
