<!DOCTYPE html>

<html>

  <head>

    <meta charset="UTF-8"/>    

    <title>SD Combate</title>

    <link rel="stylesheet" href="../../css/jogos/sdcombate.css" type="text/css"/>

    <script src="../../plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/jogos/sdcombate.js"></script>
  
  </head>

  <body>
  
    <div id="capa">
      <a href="telajogo.html">
        <div id="titulo"></div>
        <div id="btnentrar"></div>
      </a>
    </div>

  </body>

</html>