<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../css/all.css">
        <link rel="stylesheet" href="../css/menu.css">
        <title>FL Software - Mini Utilidades - Menu</title>
    </head>
    <body>
        <div class="menu">
            <ul>
                <li>
                    <div class="grupo_menu" id="calculadoras_grupo">
                        <label>Calculadoras</label>
                        <span class="material-icons" id="calculadoras_seta">arrow_right</span>
                    </div>
                    <ul id="calculadoras_itens">
                        <li>
                            <a href="calculadoras/imc.html" target="corpo">Calculadora IMC</a>
                        </li>
                        <li>
                            <a href="calculadoras/formCalc.php" target="corpo">Calculadora PHP</a>
                        </li>
                        <li>
                            <a href="calculadoras/calculadoraS.html" target="corpo">Calculadora V1</a>
                        </li>
                        <li>
                            <a href="calculadoras/calculadoraP.html" target="corpo">Calculadora V2</a>
                        </li>                
                        <li>
                            <a href="calculadoras/calculadoraV1.html" target="corpo">Calculadora V3</a>
                        </li>
                        <li>
                            <a href="calculadoras/calculadoraV2.html" target="corpo">Calculadora V4</a>
                        </li>
                        <li>
                            <a href="calculadoras/calculadoraV3.html" target="corpo">Calculadora V5</a>
                        </li>                        
                    </ul>
                </li>
                <li>
                    <div class="grupo_menu" id="lampadas_grupo">
                        <label>Lampadas</label>
                        <span class="material-icons" id="lampadas_seta">arrow_right</span>
                    </div>
                    <ul id="lampadas_itens">
                        <li>
                            <a href="lampadas/lampada.html" target="corpo"> </i>Lâmpada</a>
                        </li>
                        <li>
                            <a href="lampadas/relogio.php" target="corpo">Relógio</a>
                        </li>
                        <li>
                            <a href="lampadas/semaforo.html" target="corpo">Semáforo</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="grupo_menu" id="jogos_grupo">
                        <label>Jogos</label>
                        <span class="material-icons" id="jogos_seta">arrow_right</span>
                    </div>
                    <ul id="jogos_itens">
                        <li>
                            <a href="jogos/acidadela.html" target="corpo">A Cidadela</a>
                        </li>
                        <li>
                            <a href="jogos/cobra.html" target="corpo">Cobra</a>
                        </li>
                        <li>
                            <a href="jogos/dinossauro.html" target="corpo">Dinossauro</a>
                        </li>
                        <li>
                            <a href="jogos/forca.html" target="corpo">Forca</a>
                        </li>
                        <li>
                            <a href="jogos/emote.html" target="corpo">Emote</a>
                        </li>
                        <li>
                            <a href="jogos/genius.html" target="corpo">Genius</a>
                        </li>
                        <li>
                            <a href="jogos/invasores.html" target="corpo">Invasores</a>
                        </li>
                        <li>
                            <a href="jogos/jogo-da-velha.html" target="corpo">Jogo da Velha V1</a>
                        </li>
                        <li>
                            <a href="jogos/jogo-da-velhav2.html" target="corpo">Jogo da Velha V2</a>
                        </li>
                        <li>
                            <a href="jogos/memoria.html" target="corpo">Memória</a>
                        </li>
                        <li>
                            <a href="jogos/nave.html" target="corpo">Nave</a>
                        </li>
                        <li>
                            <a href="jogos/sdcombate.html" target="corpo">SD Combate</a>
                        </li>
                        <li>
                            <a href="jogos/tenis.html" target="corpo">Tênis</a>
                        </li>
                        <li>
                            <a href="jogos/tiroCerteiro.html" target="corpo">Tiro Certeiro</a>
                        </li>
                        <li>
                            <a href="jogos/toTroll.html" target="corpo">Tô Troll</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="grupo_menu" id="sistemas_grupo">
                        <label>Sistemas</label>
                        <span class="material-icons" id="sistemas_seta">arrow_right</span>
                    </div>
                    <ul id="sistemas_itens">
                        <li>
                            <a href="sistemas/cadastroCliente.html" target="corpo">Cadastro Cliente</a>
                        </li>
                        <li>
                            <a href="sistemas/php/cadastrarCliente.php" target="corpo">Cadastro Cliente PHP</a>
                        </li>
                        <li>
                            <a href="sistemas/financeiro.html" target="corpo">Financeiro Pessoal</a>
                        </li>
                        <li>
                            <a href="sistemas/frontBox.html" target="corpo">FrontBox</a>
                        </li>
                        <li>
                            <a href="sistemas/healthTrack.html" target="corpo">Health Track</a>
                        </li>
                        <li>
                            <a href="sistemas/lista.html" target="corpo">Lista a fazer</a>
                        </li>
                        <li>
                            <a href="sistemas/compras.html" target="corpo">Lista de Compras</a>
                        </li>
                        <li>
                            <a href="sistemas/meetMinas.html" target="corpo">Meet Minas</a>
                        </li>
                        <div class="grupo_menu" id="php_grupo">
                            <label>PHP</label>
                            <span class="material-icons" id="php_seta">arrow_right</span>
                        </div>
                        <ul id="php_itens">
                            <li>
                                <div class="grupo_menu" id="php_cfb_grupo">
                                    <label>CFB</label>
                                    <span class="material-icons" id="php_cfb_seta">arrow_right</span>
                                </div>
                                <ul id="php_cfb_itens">
                                    <li>
                                        <div class="grupo_menu" id="php_cfb_leonardo_grupo">
                                            <label>Leonardo</label>
                                            <span class="material-icons" id="php_cfb_leonardo_seta">arrow_right</span>
                                        </div>
                                        <ul id="php_cfb_leonardo_itens">
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula01.php" target="corpo">Aula 01</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula02.php" target="corpo">Aula 02</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula03.php" target="corpo">Aula 03</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula04.php" target="corpo">Aula 04</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula05.php" target="corpo">Aula 05</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula06.php" target="corpo">Aula 06</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula07.php" target="corpo">Aula 07</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula08.php" target="corpo">Aula 08</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula09.php" target="corpo">Aula 09</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula10.php" target="corpo">Aula 10</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula11.php" target="corpo">Aula 11</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula12.php" target="corpo">Aula 12</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula13.html" target="corpo">Aula 13</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula14.php" target="corpo">Aula 14</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula15.php" target="corpo">Aula 15</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula16.php" target="corpo">Aula 16</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula17.php" target="corpo">Aula 17</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula18.php" target="corpo">Aula 18</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula19.php" target="corpo">Aula 19</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula20.php" target="corpo">Aula 20</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula21.php" target="corpo">Aula 21</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula22.php" target="corpo">Aula 22</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula23.php" target="corpo">Aula 23</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula24.php" target="corpo">Aula 24</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula25.php" target="corpo">Aula 25</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula26.php" target="corpo">Aula 26</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula28.php" target="corpo">Aula 28</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula29.php" target="corpo">Aula 29</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula30.php" target="corpo">Aula 30</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula31Formulario.html" target="corpo">Aula 31</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula32Formulario.html" target="corpo">Aula 32</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula33Formulario.html" target="corpo">Aula 33</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula34.php" target="corpo">Aula 34</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula35.php" target="corpo">Aula 35</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula36.php" target="corpo">Aula 36</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula37.php" target="corpo">Aula 37</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula38.php" target="corpo">Aula 38</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula39Formulario.html" target="corpo">Aula 39</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula40Formulario.html" target="corpo">Aula 40</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula41.php" target="corpo">Aula 41</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula42.html" target="corpo">Aula 42</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula43.php" target="corpo">Aula 43</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula44.php" target="corpo">Aula 44</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/cfb/leonardo/aula45Formulario.html" target="corpo">Aula 45</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="grupo_menu" id="php_faetec_grupo">
                                    <label>FAETEC</label>
                                    <span class="material-icons" id="php_faetec_seta">arrow_right</span>
                                </div>
                                <ul id="php_faetec_itens">
                                    <li>
                                        <div class="grupo_menu" id="php_faetec_leonardo_grupo">
                                            <label>Leonardo</label>
                                            <span class="material-icons" id="php_faetec_leonardo_seta">arrow_right</span>
                                        </div>
                                        <ul id="php_faetec_leonardo_itens">
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste.php" target="corpo">Teste</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste3.php" target="corpo">Teste 3</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste4.php" target="corpo">Teste 4</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste5.php" target="corpo">Teste 5</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste6.php" target="corpo">Teste 6</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste7.php" target="corpo">Teste 7</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste8.php" target="corpo">Teste 8</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste9.php" target="corpo">Teste 9</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste9b.php" target="corpo">Teste 9 B</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste10.php" target="corpo">Teste 10</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste11.php" target="corpo">Teste 11</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste12.php" target="corpo">Teste 12</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste13.php" target="corpo">Teste 13</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste14.php" target="corpo">Teste 14</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste15.php" target="corpo">Teste 15</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste16.php" target="corpo">Teste 16</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste17.php" target="corpo">Teste 17</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste18.php" target="corpo">Teste 18</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste19.php" target="corpo">Teste 19</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste20.php" target="corpo">Teste 20</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste21.php" target="corpo">Teste 21</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste22.php" target="corpo">Teste 22</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste23.php" target="corpo">Teste 23</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste24.php" target="corpo">Teste 24</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste25.php" target="corpo">Teste 25</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste26.php" target="corpo">Teste 26</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste27.php" target="corpo">Teste 27</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste28.php" target="corpo">Teste 28</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste29.php" target="corpo">Teste 29</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste30.php" target="corpo">Teste 30</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste31.php" target="corpo">Teste 31</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste32.php" target="corpo">Teste 32</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste33.php" target="corpo">Teste 33</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste34.php" target="corpo">Teste 34</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste35.php" target="corpo">Teste 35</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste36.php" target="corpo">Teste 36</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste37.php" target="corpo">Teste 37</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste28.php" target="corpo">Teste 38</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste39.php" target="corpo">Teste 39</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste40.php" target="corpo">Teste 40</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste40b.php" target="corpo">Teste 40 B</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste41.php" target="corpo">Teste 41</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste42.php" target="corpo">Teste 42</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste43.php" target="corpo">Teste 43</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste44.php" target="corpo">Teste 44</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste45.php" target="corpo">Teste 45</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste46.php" target="corpo">Teste 46</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste47.php" target="corpo">Teste 47</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste48.php" target="corpo">Teste 48</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste49.php" target="corpo">Teste 49</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste50.php" target="corpo">Teste 50</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste51.php" target="corpo">Teste 51</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste52.php" target="corpo">Teste 52</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste53.php" target="corpo">Teste 53</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste54.php" target="corpo">Teste 54</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste55.php" target="corpo">Teste 55</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/teste56.php" target="corpo">Teste 56</a>
                                            </li>
                                            <li>
                                                <a href="sistemas/php/faetec/leonardo/questoes.php" target="corpo">Questões</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </li> 
                <li>
                    <a href="sobre.html" target="corpo">Sobre</a>
                </li>                   
            </ul>
        </div>
        <script src="../plugins/jquery/jquery.min.js"></script>
	    <script src="../js/menu.js"></script>
    </body>
</html>