<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/all.css">
        <link rel="stylesheet" href="../css/sobre.css">
        <title>FL Software - Mini Utilidades - Sobre</title>
    </head>
    <body>
        <h1>Sobre</h1><hr/><br/>
        <h2>Empresa</h2><hr/><br/>
            <p>A FL Software foi fundada em 06/01/2021 no começo da pandemia de COVID-19, para enfrentar um mundo em transformação com novos desafios e novos conceitos.</p>
            <p>Somos uma pequena empresa voltada para aprendizagem continua e inovação.</p><br/>
            <p><b>Razão Social:</b> Razão Social: Leonardo Jose Garcia Maia Desenvolvimento de Software LTDA</p>
            <p><b>CNPJ:</b> 40.280.939/0001-71</p><br/>
        <h2>Objetivo</h2><hr/><br/>
            <p>Conquistar novas tecnologias e aplica-las para otimizar processos.</p><br/>
        <h2>Desenvolvedores</h2><hr/><br/>
            <h3>Bruno Trindade</h3><hr/><br/>
            <p>Em breve...</p><br/>
            <p>
                <b>Contatos:</b> 
                <label>(21) 98796-4696 / </label>
                <a href="https://www.linkedin.com/in/bruno-trindade-79534a72" target="_blank">linkedin.com/in/bruno-trindade-79534a72</a>
                <label> / </label>
                <a href="mailto:bruno51_@hotmail.com">bruno51_@hotmail.com</a>
            </p><br/>
        <h3>Leonardo Maia</h3><hr/><br/>
            <p>Sou espontâneo, empenhado, pró-ativo, amigo, simpático, sensível, empático, organizado e autodidata.</p>
            <p>Gosto de jogos, sejam esportes, eletrônicos, tabuleiros, cartas e etc.</p>
            <p>Procuro desafios, reconhecimento e satisfação.</p><br/>
            <p>
                <b>Contatos:</b> 
                <label>(21) 98788-0507 / </label>
                <a href="https://www.linkedin.com/in/leonardo-maia" target="_blank">linkedin.com/in/leonardo-maia</a>
                <label> / </label> 
                <a href="mailto:leonardojgmaia@gmail.com">leonardojgmaia@gmail.com</a>
            </p><br/>
        <h2>Linguagens</h2><hr/><br/>        
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>PHP</li>
                <li>SQL</li>
                <li>Canvas</li>
                <li>C#</li><br/>
            </ul>
    </body>
</html>